@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, cupcake;
}
:root {
  --bg-color: #f4eeee;  
  --text-color: #111111; 
}

.dark {
  --bg-color: #111f34; 
  --text-color: #010917; 
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
